small{

    text-align: right;
background-color:yellow;

}

.para{
color:white;
background-color:purple;
width:50%;
height:80px;
font-size:25px;
}

body{
background-color:pink;
}

h2{
background-color:blue;
width:20%;
height:30px;
}

#para1{
background-color:white;
width:30%;
height:50px;
font-size:20px;
}

#para2{
background-color:white;
width:30%;
height:50px;
font-size:20px;
}

#para3{
background-color:white;
width:30%;
height:50px;
font-size:20px;
}


